#Work {
	color: green;
	height:	500px;
	width: 1350px;
	margin-bottom:500px;
	background-color: green;
	
}

#Text{
	text-align:center;
	color: black;
}

#circle1{
	margin-left: 425px;	
	height:100px;
	width: 100px;
	background-color: white;
	border-radius: 100px;
}

#circle2{
	margin-left: 200px;
	height:100px;
	width: 100px;
	background-color: white;
	border-radius: 100px;
}

#circle3{
	margin-left: 200px;	
	height:100px;
	width: 100px;
	background-color: white;
	border-radius: 100px;
}

#img{

}

#Work2 {
	color: green;
	height:	500px;
	width: 1350px;
	margin-top:500px;
	background-color: green;